Source: scanpartitions
Section: utils
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: scanpartitions
Architecture: all
Depends: udev
Conflicts: scanpartitions-kanotix
Description: fstab-helper for sidux
 scanpartitions reads /proc/partitions and tries to guess
 the filesystem on each partition for automatic /etc/fstab
 generation.
